@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.box1 {
    font-family: 'Poppins', sans-serif;
    color: #3bd2f8;
    font-size: 4rem;
    margin-bottom: 8px;
    text-shadow: 4px 2px  #FF4081;

    animation: slide-in-1 17s linear infinite;
}

@keyframes slide-in-1 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-10%);
    }
}

/* ************* segundo renglon *********** */
.box2 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 4rem;
    margin-bottom: 8px;
    text-shadow: 4px 2px #008000;

    animation: slide-in-2 18s linear infinite;
}

@keyframes slide-in-2 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-10%);
    }
}

/* ************* tercer renglon *********** */
.box3 {
    font-family: 'Poppins', sans-serif;
    color: #ff0000;
    font-size: 4rem;
    margin-bottom: 8px;
    text-shadow: 4px 2px  #6e6e6e;

    animation: slide-in-3 19s linear infinite;
}

@keyframes slide-in-3 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-10%);
    }
}

/* ************* cuarto renglon *********** */
.box4 {
    font-family: 'Poppins', sans-serif;
    color: #0000ff;
    font-size: 4rem;
    margin-bottom: 8px;
    text-shadow: 4px 2px #ffff00;

    animation: slide-in-4 20s linear infinite;
}

@keyframes slide-in-4 {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-10%);
    }
}